body{
	align-items: center;
	align-content: center;
	display: flex;
	background: #202020;
		
}
canvas{
	border: solid 1px #fff;
	border-left: none;
	border-right: none;
	image-rendering: pixelated;
	height: 100%;
	margin: 0 auto;
}
